
  .gridentBG{
    background: linear-gradient(90deg, blue.600 0%, blue.500 35%, blue.400 100%);
    animation: gradientBG 10s ease infinite;
  }
  
  .glassBG {
  
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  }